# https://github.com/github/gitignore/blob/main/Python.gitignore

.env

__pycache__/
*.py[cod]

# .vscode/

.idea/

.rstudio_config/

data/raw/captcha/*

results/*
!results/sample_address.csv

!**/.gitkeep
